doctype html
html(lang="ru")

	block vars

	head
		meta(charset="utf-8")
		title Mediascope Clients Conference 2020
		meta(name="viewport" content="width=device-width, initial-scale=1")

		// .......... Favicons .......... 
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png")
		link(rel="manifest" href="img/favicons/site.webmanifest")
		link(rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5")
		link(rel="shortcut icon" href="img/favicons/favicon.ico")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-config" content="img/favicons/browserconfig.xml")
		meta(name="theme-color" content="#ffffff")
		// .......... End Favicons .......... 

		// .......... Styles .......... 
		style.
			.preloader {
				position: fixed;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
				z-index: 9999;
				background: white url(img/loader.svg) center no-repeat;
				background-size: 80px auto;
			}
		// inject:css 
		// endinject 
		link(rel="stylesheet" href="css/styles.css")
		// .......... End Styles .......... 
	body
		div#site_preloader.preloader

		header.panel.screen
			.screen__inner.panel__inner
				.logo__box
					.logo
						img(src="img/logo.svg" alt="Mediascope Clients Conference 2020")
					h1.heading
						| Mediascope Clients
						br
						| Conference 
						span.ff--mono.color--yellow 2020
				button.menu__toggle.js-menu-toggle
					span
					span
					span

		nav.menu
			ul.menu__list
				li.menu__item
					a(href="//mediascope.net" target="_black") О Mediascope
				li.menu__item
					a(href="#speakers") Спикеры
				li.menu__item
					a(href="#program") Программа

		.screen.intro
			.screen__inner
				.intro__grid
					div
						h2.title
							span.color--teal Data. 
							span.color--yellow We take it 
							| personally
						p.hashtag #Mediascopeсonf
					div
						.datebox
							.datebox__inner 01/12
							svg( version="1.1" viewBox="0 0 238 269" preserveAspectRatio="xMinYMin meet" fill="none")
								path(d="M236.953 268.422L.502 234.227V34.605L236.953.577v267.845z" stroke="#fff")
				.btn__box
					a.btn.btn--fill(href="//mediascopeconference.timepad.ru/event/1477146/" target="_blank") Регистрация
					br
					a.btn(href="#about-broadcast") Где и как смотреть трансляцию

		.screen.about
			.screen__inner
				h2.title.title--lg О конференции
				p.
					2020 год для всех особенный. Технологическая трансформация стала одной из стратегически важных составляющих для большинства компаний и бизнесов.
				p.
					За этот год мы сделали многое для того, чтобы наши клиенты смогли в будущем строить свой бизнес и принимать решения на основе синтеза огромного опыта Mediascope в медиаисследованиях и лучших технологий в области работы с данными. 
				p.
					Мы будем рады подробнее рассказать об этом на нашей конференции 1 декабря <nobr>2020 года</nobr>.

				p.
					В этом году наше мероприятие состоится в онлайн-формате. Посмотреть трансляцию вы сможете по предварительной регистрации.
				p.
					До встречи 1 декабря!
				#about-broadcast
					.broadcast__about
						h3.title Где и как смотреть трансляцию
						p.broadcast__info Трансляция будет проходить одновременно на нескольких площадках.
						.btn__box
							a.btn.btn--gray(href="/") Сайт конференции
							br
							a.btn.btn--gray(href="https://business.facebook.com/events/811737422923199/" target="_blank") Facebook

		// .screen.broadcast
			.screen__inner
				h2.title.title--lg Трансляция
				.broadcast__box
					.broadcast__player
						.broadcast__info Дискуссионная панель «Viewability: отрицание, гнев, торг, принятие… Где мы сегодня и что будет завтра?»
						.broadcast__video
							video.video-js.vjs-default-skin.vjs-big-play-centered.vjs-show-big-play-button-on-pause(id="broadcast-video" preload="none" poster="img/posters/broadcast.jpg" playsinline data-setup='{"fluid": true}' controls)
								source(src="https://www.youtube.com/watch?v=xSo7WElQfWs" type="video/youtube")
						.broadcast__select 
							select
								option(value="0") Выбрать плеер
								option(value="1") Плеер 1
								option(value="2") Плеер 2
							.select__arrow
					.broadcast__panel
						p.broadcast__label Вы смотрите:
						p.broadcast__caption Название выступления спикера
						p.broadcast__label Далее в трансляции:
						p.broadcast__time 10:15
						p.broadcast__next Название следующего выступления
						p.broadcast__time 12:30
						p.broadcast__next Где мы сегодня и что будет завтра?
						a.btn.btn--gray(href="#speakers") Спикеры
						a.btn.btn--gray(href="#program") Программа

		.screen.program#program
			.screen__inner
				h2.title.title--lg Программа
				.program__table
					.program__row
						.program__time 11:00 - 11:10
						.program__speech
							p Приветственное слово
							p.program__small
								| Руслан Тагиев,
								br
								span.color--teal Генеральный директор Mediascope
					.program__row
						.program__time 11:10 - 11:30
						.program__speech
							p Тренды, вызовы, возможности 2021
							p.program__small
								| Ксения Ачкасова,
								br
								span.color--teal Исполнительный директор Mediascope
					.program__row
						.program__time 11:30 - 11:50
						.program__speech
							p Потребительские предпочтения в новой реальности
							p.program__small
								| Марина Пикулева,
								br
								span.color--teal Директор по специальным исследованиям Mediascope
					.program__row
						.program__time 11:50 - 12:10
						.program__speech
							p От классического research <nobr>к технологиям</nobr>
							p.program__small
								| Лев Глейзер,
								br
								span.color--teal Советник генерального директора Mediascope
					.program__row
						.program__time 12:10 - 12:30
						.program__speech
							p Продуктовая стратегия Mediascope
							p.program__small
								| Михаил Зотов,
								br
								span.color--teal Коммерческий директор Mediascope

		.screen.speakers#speakers
			.screen__inner
				h2.title.title--lg Спикеры
				.speakers__table
					.speakers__row
						.speakers__card
							.speakers__photo
								img(src="img/speakers/r_tagiev.png" alt="")
							.speakers__data
								.speakers__name
									| Руслан&nbsp;
									br
									| Тагиев
								.speakers__vocation
									| генеральный директор
									br
									| Mediascope
						.speakers__card
							.speakers__photo
								img(src="img/speakers/k_achkasova.png" alt="")
							.speakers__data
								.speakers__name
									| Ксения&nbsp;
									br
									| Ачкасова
								.speakers__vocation
									| исполнительный директор
									br
									| Mediascope
					.speakers__row
						.speakers__card
							.speakers__photo
								img(src="img/speakers/m_pikuleva.png" alt="")
							.speakers__data
								.speakers__name
									| Марина&nbsp;
									br
									| Пикулева
								.speakers__vocation
									| директор по специальным
									br
									| исследованиям Mediascope
						.speakers__card
							.speakers__photo
								img(src="img/speakers/l_gleizer.png" alt="")
							.speakers__data
								.speakers__name
									| Лев&nbsp;
									br
									| Глейзер
								.speakers__vocation
									| советник генерального
									br
									| директора Mediascope
						.speakers__card
							.speakers__photo
								img(src="img/speakers/m_zotov.png" alt="")
							.speakers__data
								.speakers__name
									| Михаил&nbsp;
									br
									| Зотов
								.speakers__vocation
									| коммерческий директор
									br
									| Mediascope
		// .screen.materials
			.screen__inner
				h2.title.title--lg
					| Материалы
					br
					| конференции
				.materials__table
					- for (var i = 0; i < 3; i++)
						.materials__card
							div
								.materials__player
									video.video-js.vjs-default-skin.vjs-big-play-centered.vjs-show-big-play-button-on-pause(id="materials-video-"+i preload="none" poster="img/posters/broadcast.jpg" playsinline data-setup='{"fluid": true}' controls)
										source(src="https://www.youtube.com/watch?v=xSo7WElQfWs" type="video/youtube")
								.materials__download
									a(href="#") Скачать презентацию в PDF
									a.materials__icon(href="#")
										img(src="img/download.svg" alt="")
							div
								h3.materials__title 25 лет: из прошлого в будущее
								.materials__speaker Ксения Ачкасова
								.materials__vocation Исполнительный директор
		// .screen.publications
			.screen__inner
				h2.title.title--lg Публикация
				.publications__table.materials__table
					.materials__card
						div
							.materials__image
								img(src="img/posters/broadcast.jpg" alt="")
						div
							h3.materials__title Интересный заголовок в две строчки
							.materials__vocation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
		.screen.footer
			.screen__inner
				.footer__row
					div
						img.footer__logo(src="img/logo.svg" alt="")
					div
						ul.menu__list
							li.menu__item
								a(href="//mediascope.net" target="_black") О Mediascope
							li.menu__item
								a(href="#speakers") Спикеры
							li.menu__item
								a(href="#program") Программа
						.footer__contacts
							p.color--teal ОСТАВАЙТЕСЬ С НАМИ НА СВЯЗИ
							p
								a(href="tel:+74959358718") +7 (495) 935 87 18
								br
								a(href="mailto:CONF2020@MEDIASCOPE.NET") CONF2020@MEDIASCOPE.NET
								br
								a.footer__facebook(href="//www.facebook.com/MediascopeRu" target="_blank") 
									img(src="img/fb.svg" alt="")
									span Подпишись
						p.footer__url conf.mediascope.net

		// .......... Scripts .......... 

		// inject:js 
		// endinject 
		script.
			//.......................
			//...... Preloader ......
			//.......................
			function hidePreloader(){
				$(function() {
					$('.preloader').fadeOut(500).delay(500, function(){
						$(this).css('display', 'none').dequeue();
					});
				});
			}
			window.onload = hidePreloader();
		script(src="js/scripts.js")
		// .......... End Scripts .......... 
