extends layout.pug

block vars
	- 
		var ms_lang = "ru"
		var path = ""
		var ms_title = "Клиентская Конференция Mediascope 2020"
		var ms_heading = "Mediascope Clients<br>Conference "
		var ms_nav_item1 = "О Mediascope"
		var ms_nav_item2 = "Спикеры"
		var ms_nav_item3 = "Программа"
		var ms_nav_item4_url = "en/index.html"
		var ms_nav_item4 = "ENG"
		var ms_nav_item5 = "Архив конференций"
		var ms_btn_join = "Регистрация"
		var ms_btn_join_url = "//mediascopeconference.timepad.ru/event/1477146/"
		var ms_btn_manual = "Где и как смотреть трансляцию"
		var ms_about_title = "О конференции"
		var ms_about_text = "2020 год для всех особенный. Технологическая трансформация стала одной из стратегически важных составляющих для большинства компаний и бизнесов.</p><p>За этот год мы сделали многое для того, чтобы наши клиенты смогли в будущем строить свой бизнес и принимать решения на основе синтеза огромного опыта Mediascope в медиаисследованиях и лучших технологий в области работы с данными.</p><p>Мы будем рады подробнее рассказать об этом на нашей конференции 1 декабря <nobr>2020 года</nobr>.</p><p>В этом году наше мероприятие состоится в онлайн-формате. Посмотреть трансляцию вы сможете по предварительной регистрации.</p><p>До встречи 1 декабря!"
		
		var broadcast_info = "Наша трансляция проходит одновременно<br>на нескольких площадках, и вы можете выбрать наиболее удобную для Вас."
		var broadcast_site = "Сайт конференции"
		var broadcast_title = "Трансляция"
		var broadcast_review = "Оценить спикеров"
		var broadcast_review_url = "https://docs.google.com/forms/d/e/1FAIpQLScdv6PY9QpsafOz-atbsIqkr21OzdAi-SQ--2DdF6jao0Ad_A/viewform"
		var broadcast_tg = "Задать вопрос в Telegram"
		var broadcast_video_url = "https://youtu.be/Kwohz2deZ0I"
		var broadcast_youtube_url = broadcast_video_url

		var download_pdf = "Скачать презентацию в PDF"

		var r_tagiev = "Руслан Тагиев"
		var r_tagiev_vocation = "генеральный директор Mediascope"
		var r_tagiev_speech = "Приветственное слово"

		var k_achkasova = "Ксения Ачкасова"
		var k_achkasova_vocation = "исполнительный директор Mediascope"
		var k_achkasova_speech = "Итоги 2020.<br>Планы 2021"
		var k_achkasova_details = "Развитие медиаизмерений, гибридные подходы и большие данные в исследованиях"

		var m_pikuleva = "Марина Пикулева"
		var m_pikuleva_vocation = "директор по специальным исследованиям Mediascope"
		var m_pikuleva_speech = "BrandPulse:<br>год спустя"
		var m_pikuleva_details = "Новые возможности для анализа потребительских рынков"
		var o_starostina = "Олеся Старостина"
		var o_starostina_vocation = "руководитель проектов Mediascope"

		var l_gleizer = "Лев Глейзер"
		var l_gleizer_vocation = "директор по информационным технологиям Mediascope"
		var l_gleizer_speech = "Альпака и капибары"
		var l_gleizer_details = "Как производство разнородных данных приходит к единой модели, а персонализация становится частью аналитики"

		var m_zotov = "Михаил Зотов"
		var m_zotov_vocation = "коммерческий директор Mediascope"
		var m_zotov_speech = "Главный вопрос…42!"
		var m_zotov_details = "Как новые технологии Mediascope помогут медиа лучше изучить путь, внимание и действия человека"

		var footer_contacts = "ОСТАВАЙТЕСЬ С НАМИ НА СВЯЗИ"
		var footer_facebook = "Подпишись"