extends layout.pug

block vars
	- 
		var ms_lang = "ru"
		var path = ""
		var ms_title = "Клиентская Конференция Mediascope 2020"
		var ms_heading = "Mediascope Clients<br>Conference "
		var ms_nav_item1 = "О Mediascope"
		var ms_nav_item2 = "Спикеры"
		var ms_nav_item3 = "Программа"
		var ms_nav_item4_url = "en/index.html"
		var ms_nav_item4 = "ENG"
		var ms_nav_item5 = "Архив конференций"
		var ms_btn_join = "Регистрация"
		var ms_btn_manual = "Где и как смотреть трансляцию"
		var ms_about_title = "О конференции"
		var ms_about_text = "2020 год для всех особенный. Технологическая трансформация стала одной из стратегически важных составляющих для большинства компаний и бизнесов.</p><p>За этот год мы сделали многое для того, чтобы наши клиенты смогли в будущем строить свой бизнес и принимать решения на основе синтеза огромного опыта Mediascope в медиаисследованиях и лучших технологий в области работы с данными.</p><p>Мы будем рады подробнее рассказать об этом на нашей конференции 1 декабря <nobr>2020 года</nobr>.</p><p>В этом году наше мероприятие состоится в онлайн-формате. Посмотреть трансляцию вы сможете по предварительной регистрации.</p><p>До встречи 1 декабря!"
		var broadcast_info = "Трансляция будет проходить одновременно на нескольких площадках."
		var broadcast_site = "Сайт конференции"
		var broadcast_title = "Трансляция"
		var broadcast_player_select0 = "Выбрать плеер"
		var broadcast_player_select1 = "Плеер 1"
		var broadcast_player_select2 = "Плеер 2"
		var broadcast_review = "Оценить спикеров"
		var broadcast_review_url = "https://docs.google.com/forms/d/e/1FAIpQLScdv6PY9QpsafOz-atbsIqkr21OzdAi-SQ--2DdF6jao0Ad_A/viewform"

		var r_tagiev = "Руслан&nbsp;<br>Тагиев"
		var r_tagiev_vocation = "генеральный директор&nbsp;<br>Mediascope"
		var k_achkasova = "Ксения&nbsp;<br>Ачкасова"
		var k_achkasova_vocation = "исполнительный директор&nbsp;<br>Mediascope"
		var m_pikuleva = "Марина&nbsp;<br>Пикулева"
		var m_pikuleva_vocation = "директор по специальным&nbsp;<br>исследованиям Mediascope"
		var o_starostina = "Олеся&nbsp;<br>Старостина"
		var o_starostina_vocation = "руководитель&nbsp;<br>проектов Mediascope"
		var l_gleizer = "Лев&nbsp;<br>Глейзер"
		var l_gleizer_vocation = "директор по информационным&nbsp;<br>технологиям Mediascope"
		var m_zotov = "Михаил&nbsp;<br>Зотов"
		var m_zotov_vocation = "коммерческий директор&nbsp;<br>Mediascope"

		var footer_contacts = "ОСТАВАЙТЕСЬ С НАМИ НА СВЯЗИ"
		var footer_facebook = "Подпишись"