extends ../layout.pug

block vars
	- 
		var ms_lang = "en"
		var path = "../"
		var ms_title = "Mediascope Clients Conference 2020"
		var ms_heading = "Mediascope Clients<br>Conference "
		var ms_nav_item1 = "About Mediascope"
		var ms_nav_item2 = "Speakers"
		var ms_nav_item3 = "Conference Agenda"
		var ms_nav_item4_url = "/index.html"
		var ms_nav_item4 = "РУС"
		var ms_nav_item5 = "Archive"
		var ms_btn_join = "Регистрация"
		var ms_btn_manual = "Где и как смотреть трансляцию"
		var ms_about_title = "About the conference"
		var ms_about_text = "2020 has been a special year for everyone. The technological transformation has become a key strategic objective for majority of businesses in media and advertising market.</p><p>During this year we have done a lot to support you - our clients, in addressing the challenges of today and tomorrow.</p><p>We will be happy to share our ideas and vision with you at our annual Clients Conference which will be held online on 1 December 2020.</p><p>We invite you to register for our event and look forward to seeing you online on 1 December!"
		var broadcast_info = "Трансляция будет проходить одновременно на нескольких площадках."
		var broadcast_site = "Сайт конференции"
		var broadcast_title = "Broadcast"
		var broadcast_player_select0 = "Media player"
		var broadcast_player_select1 = "Media player 1"
		var broadcast_player_select2 = "Media player 2"
		var broadcast_review = "Please rate the speakers"
		var broadcast_review_url = "https://docs.google.com/forms/d/e/1FAIpQLSdIx30Q5zMmWtQKHZG55eM1FhRRv0VdDPZkAljXSXpirXSd9A/viewform"

		var r_tagiev = "Ruslan&nbsp;<br>Tagiev"
		var r_tagiev_vocation = "CEO"
		var k_achkasova = "Ksenia&nbsp;<br>Achkasova"
		var k_achkasova_vocation = "COO"
		var m_pikuleva = "Marina&nbsp;<br>Pikuleva"
		var m_pikuleva_vocation = "Custom Media&nbsp;<br>Research Director"
		var o_starostina = "Olesya&nbsp;<br>Starostina"
		var o_starostina_vocation = "Projects Lead"
		var l_gleizer = "Lev&nbsp;<br>Gleizer"
		var l_gleizer_vocation = "CIO"
		var m_zotov = "Mikhail&nbsp;<br>Zotov"
		var m_zotov_vocation = "Commercial Director"

		var footer_contacts = "STAY IN TOUCH!"
		var footer_facebook = "Follow us on Facebook"