extends ../layout.pug

block vars
	- 
		var ms_lang = "en"
		var path = "../"
		var ms_title = "Mediascope Clients Conference 2020"
		var ms_heading = "Mediascope Clients<br>Conference "
		var ms_nav_item1 = "About Mediascope"
		var ms_nav_item2 = "Speakers"
		var ms_nav_item3 = "Conference Agenda"
		var ms_nav_item4_url = "/index.html"
		var ms_nav_item4 = "RUS"
		var ms_nav_item5 = "Archive"
		var ms_btn_join = "Registration"
		var ms_btn_join_url = "//mediascopeconference.timepad.ru/event/1484488/"
		var ms_btn_manual = "Conference Broadcast"
		var ms_about_title = "About the conference"
		var ms_about_text = "2020 has been a special year for everyone. The technological transformation has become a key strategic objective for majority of businesses in media and advertising market.</p><p>During this year we have done a lot to support you - our clients, in addressing the challenges of today and tomorrow.</p><p>We will be happy to share our ideas and vision with you at our annual Clients Conference which will be held online on 1 December 2020.</p><p>We invite you to register for our event and look forward to seeing you online on 1 December!"
		
		var broadcast_info = "Our conference can be viewed on the website here and also on the Youtube channel. You can choose<br>the most convinient option."
		var broadcast_site = "Conference website"
		var broadcast_title = "Broadcast"
		var broadcast_review = "Please rate the speakers"
		var broadcast_review_url = "https://docs.google.com/forms/d/e/1FAIpQLSdIx30Q5zMmWtQKHZG55eM1FhRRv0VdDPZkAljXSXpirXSd9A/viewform"
		var broadcast_tg = "Ask a question in Telegram"
		var broadcast_video_url = "https://youtu.be/BziojwBgTRw"
		var broadcast_youtube_url = broadcast_video_url

		var download_pdf = "Download PDF"

		var r_tagiev = "Ruslan Tagiev"
		var r_tagiev_vocation = "CEO Mediascope"
		var r_tagiev_speech = "Welcome"

		var k_achkasova = "Ksenia Achkasova"
		var k_achkasova_vocation = "COO Mediascope"
		var k_achkasova_speech = "Results 2020.<br>Plans 2021"
		var k_achkasova_details = "Media research development, hybrid approach and big data in research"

		var m_pikuleva = "Marina Pikuleva"
		var m_pikuleva_vocation = "Custom Media Research Director Mediascope"
		var m_pikuleva_speech = "BrandPulse:<br>one year later"
		var m_pikuleva_details = "New opportunities for analyzing consumer markets"
		var o_starostina = "Olesya Starostina"
		var o_starostina_vocation = "Projects Lead Mediascope"

		var l_gleizer = "Lev Gleizer"
		var l_gleizer_vocation = "CIO Mediascope"
		var l_gleizer_speech = "Alpaca and Capybaras"
		var l_gleizer_details = "How the production of heterogeneous data comes to a single model, and personalization becomes part of analytics"

		var m_zotov = "Mikhail Zotov"
		var m_zotov_vocation = "Commercial Director Mediascope"
		var m_zotov_speech = "The Ultimate<br>Question …42!"
		var m_zotov_details = "How the Mediascope's new technologies help Media to better understand the path, attention and actions of a person"


		var footer_contacts = "STAY IN TOUCH!"
		var footer_facebook = "Follow us on Facebook"