// Parameters
$ww: 1152px;
// $wh: 970px;

$wmw: 320px;
// $wmh: 568px - 34px;

//calculate font size
@function fz_sm($value) {
	$is_portrait: true;
	@return font_size($value, $is_portrait);
}
@function fz_lg($value) {
	$is_portrait: false;
	@return font_size($value, $is_portrait);
}
@function font_size($value, $is_portrait) {
	$fz: ($value * 100 / 1152px) + vw;
	@if $is_portrait {
		$fz: ($value * 100 / 320px) + vw;
	}
	@return $fz;
}

//calculate elements size
@function size_sm($expression) {
	$direction: 'w';
	$is_portrait: true;
	$window_side: $wmw;
	$unit: vw;
	@return size($expression, $direction, $is_portrait); 
}
@function size_lg($expression) {
	$direction: 'w';
	$is_portrait: false;
	$window_side: $ww;
	$unit: vw;
	@return size($expression, $direction, $is_portrait); 
}
// @function height_portrait($expression) {
// 	$direction: 'h';
// 	$is_portrait: true;
// 	$window_side: $wmh;
// 	$unit: vh;
// 	@return size($expression, $direction, $is_portrait); 
// }
// @function height_landscape($expression) {
// 	$direction: 'h';
// 	$is_portrait: false;
// 	$window_side: $wh;
// 	$unit: vh;
// 	@return size($expression, $direction, $is_portrait); 
// }
@function size($expression, $direction: 'w', $is_portrait: false) {
	$unit: vw;
	$window_side: $ww;
	@if $is_portrait {
		$window_side: $wmw;
	}
	// @if $direction == h {
	// 	$unit: vh;
	// 	$window_side: $wh;
	// 	@if $is_portrait {
	// 		$window_side: $wmh;
	// 	}
	// }
	@return ($expression / $window_side * 100) + $unit;  
}

// media queries
$is_landscape: 'orientation: landscape';
$is_portrait: 'orientation: portrait';

// colors
$semidark: #080808;
$dark: #121313;
$gray: #3C3C3B;
$teal: #00a696;
$yellow: #fce900;

// fonts
@font-face{
	font-family: 'Apercu';
	src: url('../fonts/ApercuPro-Regular/ApercuPro.eot');
	src: url('../fonts/ApercuPro-Regular/ApercuPro.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/ApercuPro-Regular/ApercuPro.woff') format('woff'), 
		url('../fonts/ApercuPro-Regular/ApercuPro.ttf') format('truetype'), 
		url('../fonts/ApercuPro-Regular/ApercuPro.svg#ApercuPro') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
}
@font-face{
	font-family: 'Apercu';
	src: url('../fonts/ApercuPro-Bold/ApercuPro-Bold.eot');
	src: url('../fonts/ApercuPro-Bold/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/ApercuPro-Bold/ApercuPro-Bold.woff') format('woff'), 
		url('../fonts/ApercuPro-Bold/ApercuPro-Bold.ttf') format('truetype'), 
		url('../fonts/ApercuPro-Bold/ApercuPro-Bold.svg#ApercuPro-Bold') format('svg');
	font-style: normal;
	font-weight: bold;
	font-display: fallback;
}
@font-face{
	font-family: 'Apercu Mono';
	src: url('../fonts/ApercuPro-Mono/ApercuPro-Mono.eot');
	src: url('../fonts/ApercuPro-Mono/ApercuPro-Mono.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/ApercuPro-Mono/ApercuPro-Mono.woff') format('woff'), 
		url('../fonts/ApercuPro-Mono/ApercuPro-Mono.ttf') format('truetype'), 
		url('../fonts/ApercuPro-Mono/ApercuPro-Mono.svg#ApercuPro-Mono') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
}

$ff_default: 'Apercu', sans-serif;
$ff_mono: 'Apercu Mono', monospace;


body{
	font-family: $ff_default;
	font-size: fz_sm(19px);
	line-height: 1;
	background: $semidark url(../img/bg_intro_sm.svg) no-repeat top right;
	background-size: 100% auto;
	color: white;
	@media ($is_landscape) {
		font-size: fz_lg(19px);
		background-image: url(../img/bg_intro.svg);
	}
}
p{
	line-height: fz_sm(30.4px);
	@media ($is_landscape) {
		line-height: fz_lg(30.4px);
	}
}
.screen{
	padding-top: size_sm(32px);
	padding-bottom: size_sm(32px);
	&__inner{
		padding-left: size_sm(16px);
		padding-right: size_sm(16px);
	}
	&,
	&__inner{
		box-sizing: border-box;
	}
	@media ($is_landscape) {
		padding-top: size_lg(60px);
		padding-bottom: size_lg(60px);
		&__inner{
			padding-left: size_lg(64px);
			padding-right: size_lg(64px);
		}
	}
}
.title{
	font-size: fz_sm(24px);
	line-height: fz_sm(30.4px);
	font-weight: normal;
	margin-top: 0;
	&--lg{
		font-size: fz_sm(36px);
		line-height: fz_sm(50.4px);
		margin-bottom: size_sm(16px);
	}
	@media ($is_landscape) {
		font-size: fz_lg(24px);
		line-height: fz_lg(70.8px);
		&--lg{
			font-size: fz_lg(60px);
			line-height: fz_lg(70.8px);
			margin-bottom: size_lg(64px);
		}
	}
}
.btn{
	display: block;
	padding: size_sm(17px) size_sm(3px);
	text-align: center;
	font-size: fz_sm(17px);
	font-weight: bold;
	letter-spacing: -1.5%;
	color: white;
	border-radius: size_sm(3px);
	border: size_sm(1px) solid $teal;
	background-color: transparent;
	transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
	&,
	&:hover{
		text-decoration: none;
	}
	&:hover{
		color: white;
		background-color: $teal;
	}
	&--fill{
		background-color: $teal;
		&:hover{
			color: $gray;
			background-color: $yellow;
			border-color: $yellow;
		}
	}
	&--gray{
		border-color: $gray;
	}
	@media ($is_landscape) {
		max-width: size_lg(300px);
		padding: size_lg(17px) size_lg(3px);
		font-size: fz_lg(17px);
		border-radius: size_lg(3px);
		border-width: size_lg(1px);
		&__box{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			> *{
				flex: 1 1 auto;
				margin-right: size_lg(24px);
			}
		}
	}
}
.nav{
	
}
.panel{
	padding-bottom: 0;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		> *{
			flex: 0 0 auto;
		}
	}
}
	.logo{
		&__box{
			display: flex;
			align-items: center;
			margin-top: size_sm(77px - 32px);
		}
		margin-right: size_sm(91px - 74px);
		img{
			width: size_sm(56px);
			height: size_sm(63px);	
		}
		@media ($is_landscape) {
			&__box{
				margin: 0;
			}
			margin-right: size_lg(36px - 19px);
			img{
				width: size_lg(56px);
				height: size_lg(63px);
			}
		}
	}
	.heading{
		font-size: fz_sm(19px);
		line-height: fz_sm(26.6px);
		font-weight: normal;
		margin: 0;
		@media ($is_landscape) {
			font-size: fz_lg(19px);
			line-height: fz_lg(26.6px);
		}
	}

.intro{
	padding-top: size_sm(76px - 40px);
	.title{
		font-size: fz_sm(34px);
		line-height: fz_sm(40.8px);
		margin-bottom: 0;
	}
	@media ($is_landscape) {
		padding-top: size_lg(200px - 171px);
		.title{
			font-size: fz_lg(58px);
			line-height: fz_lg(60.8px);
			margin-bottom: fz_lg(12px);
		}
		&__grid{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
	.hashtag{
		font-family: $ff_mono;
		font-size: fz_sm(16px);
		text-transform: uppercase;
		margin: 0;
		@media ($is_landscape) {
			font-size: fz_lg(15px);
		}
	}
	.datebox{
		position: relative;
		width: size_sm(177px);
		height: size_sm(201px);
		margin: size_sm(24px) auto;
		&__inner{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: $ff_mono;
			font-size: fz_sm(35px);
			color: $yellow;
		}
		@media ($is_landscape) {
			width: size_lg(237px);
			height: size_lg(269px);
			margin-right: size_lg(1088px - 959px);
			&__inner{
				font-size: fz_lg(35px);
			}
		}
	}

.broadcast{
	background-color: $dark;
	&__about,
	&__box{
		padding: size_sm(16px);
		border: size_sm(1px) solid $gray;
	}
	&__about{
		font-size: fz_sm(24px);
		line-height: 140%;
		color: $teal;

		// REMOVE !!!

		p{
			padding-top: size_sm(72px - 16px);
			padding-bottom: size_sm(72px - 16px);
		}
	}
	&__panel{
		font-size: fz_sm(16px);
	}
	&__info{
		line-height: 140%;
	}
	&__caption{
		color: $teal;
		border-bottom: size_sm(1px) solid $gray;
		padding-bottom: size_sm(16px);
		margin-bottom: size_sm(16px);
	}
	&__video{
		margin: size_sm(24px) auto size_sm(16px);
	}
	&__select{
	    position: relative;
	    width: 100%;
		select {
			position: relative;
			z-index: 2;
			font: normal fz_sm(12px)/1 $ff_default;
			display: inline-block;
			width: 100%;
			cursor: pointer;
			padding: size_sm(10px) size_sm(20px) size_sm(10px) size_sm(5px);
			outline: 0;
			border: size_sm(1px) solid $gray;
			border-radius: 0;
			background-color: transparent;
			color: white;
			-webkit-appearance: none;
			appearance: none;
			&::-ms-expand { display: none; }
			&:disabled {
				opacity: 0.5;
				pointer-events: none;
				& ~ .select__arrow {
					border-top-color: $teal;
				}
			}
		}
		option{
			color: black;
		}
		.select__arrow {
			position: absolute;
			top: 0;
			right: 0;
			width: size_sm(32px);
			height: 100%;
			background-color: transparent;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: size_sm(12px);
				right: size_sm(12px);
				width: size_sm(8px);
				height: size_sm(8px);
				border: solid $teal;
				border-width: 0 size_sm(2px) size_sm(2px) 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
	p{
		line-height: fz_sm(22.4px);
	}
	&__time{
		color: $yellow;
	}
	.btn{
		display: block;
		margin-top: size_sm(16px);
		border-radius: 0;
	}
	@media ($is_landscape) {
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: size_lg(-24px);
			right: size_lg(64px);
			display: block;
			width: size_lg(193px);
			height: size_lg(169px);
			background-image: url(../img/bg_broadcast.svg);
			background-position: center;
			background-size: 100% auto;
		}
		&__about{
			border-width: size_lg(1px);
		}
		&__box{
			position: relative;
			padding: size_lg(32px);
			display: flex;
			justify-content: flex-start;
			border-width: size_lg(1px);
			> *{
				flex: 0 0 auto;
			}
			&::after{
				content: '';
				display: block;
				position: absolute;
				left: size_lg(738px - 64px);
				top: 0;
				width: size_lg(1px);
				bottom: 0;
				background-color: $gray;
			}
		}
		&__panel{
			margin-left: size_lg(802px - 738px);
			width: size_lg(230px);
		}
		&__player{
			max-width: size_lg(738px - 96px);
			padding-right: size_lg(738px - 706px);
			box-sizing: border-box;
		}
		&__video{
			margin: size_lg(73px - 54px) 0;
		}
		&__select{
			max-width: size_lg(150px);
			margin-left: auto;
			select {
				font-size: fz_lg(12px);
				padding: size_lg(10px) size_lg(20px) size_lg(10px) size_lg(5px);
				border: none;
			}
			.select__arrow {
				width: size_lg(32px);
				&:before{
					top: size_lg(12px);
					right: size_lg(12px);
					width: size_lg(8px);
					height: size_lg(8px);
					border-width: 0 size_lg(2px) size_lg(2px) 0;
				}
			}
		}
		&__about{
			font-size: fz_lg(32px);
			margin-top: size_lg(58px - 25px);

			// REMOVE !!!

			p{
				padding-top: 0;
				padding-bottom: size_lg(267px - 108px);
				max-width: size_lg(540px);
			}
		}
		&__caption{
			border-width: size_lg(1px);
			padding-bottom: size_lg(16px);
			margin-bottom: size_lg(16px);
		}
		&__label:first-child{
			margin-top: 0;
		}
		&__label,
		&__time,
		&__next{
			font-size: fz_lg(16px);
		}
		&__caption{
			font-size: fz_lg(18px);
		}
		p{
			line-height: fz_lg(22.4px);
		}
		.btn{
			margin-top: size_lg(12px);
			&:first-of-type{
				margin-top: size_lg(60px);
			}
		}
	}
}

.program{
	background: url(../img/bg_program.svg) no-repeat;
	background-position: size_sm(234px) 0;
	background-size: size_sm(70px) auto;
	font-size: fz_sm(24px);
	line-height: fz_sm(33.6px);
	&__row{
		padding: size_sm(32px) 0;
		border-bottom: size_sm(1px) solid $gray;
		p{
			margin-bottom: fz_sm(19px);
			&:last-child{
				margin-bottom: 0;
			}
			&:first-child{
				margin-top: 0;
			}
		}
	}
	&__time{
		font-family: $ff_mono;
		color: $teal;
		margin-bottom: size_sm(24px);
	}
	&__small{
		font-size: fz_sm(19px);
	}
	@media ($is_landscape) {
		background-image: url(../img/bg_program.svg);
		background-position: size_lg(984px) size_lg(251px - 193px);
		background-size: size_lg(98px) auto;
		font-size: fz_lg(32px);
		line-height: fz_lg(40.8px);
		&__row{
			display: flex;
			justify-content: flex-start;//space-between;
			padding: size_lg(909px - 866px) 0;
			border-width: size_lg(1px);
			p{
				margin-bottom: fz_lg(19px);
			}
		}
		&__time{
			flex: 0 0 size_lg(370px - 64px);
			margin-bottom: 0;
		}
		&__small{
			font-size: fz_lg(19px);
		}
	}
}

.speakers{
	&__card{
		margin-bottom: size_sm(61px - 29px);
		text-align: center;
	}
	&__photo{
		max-width: size_sm(180px);
		margin: 0 auto size_sm(50px - 34px);
		img{
			width: size_sm(180px);
			height: size_sm(203px);
		}
	}
	&__name{
		font-size: fz_sm(24px);//36px);
		font-weight: bold;
		line-height: fz_sm(33.6px);//47.8px);
		br{
			display: none;
		}
	}
	&__vocation{
		color: $teal;
	}
	@media ($is_landscape) {
		&__row{
			display: flex;
			justify-content: flex-start;//space-between;
		}
		&__card{
			margin-bottom: size_lg(53px - 21px);
			margin-right: size_lg(576px - 451px);
			text-align: left;
			width: size_lg(387px);
			display: flex;
		}
		&__photo{
			flex: 0 0 auto;
			max-width: size_lg(180px);
			margin: 0 size_lg(87px - 56px) 0 0;
			img{
				width: size_lg(180px);
				height: size_lg(203px);
			}
		}
		&__data{
			flex: 0 0 auto;
		}
		&__name{
			font-size: fz_lg(36px);
			line-height: fz_lg(47.8px);
			margin-bottom: size_lg(53px - 32px);
			br{
				display: block;
			}
		}
	}
}

.materials{
	&__card{
		padding: size_sm(16px) 0;
	}
	&__download{
		display: flex;
		justify-content: space-between;
		font-size: fz_sm(15px);
		line-height: fz_sm(40.8px);
		padding: size_sm(8px) 0;
		// padding: size_sm(32px) 0;
		border-bottom: size_sm(1px) solid $gray;
		a{
			text-decoration: none;
			color: white;
		}
	}
	&__icon img{
		width: size_sm(37px);
		height: size_sm(37px);
	}
	&__title,
	&__speaker{
		margin: 0 0 size_sm(8px);
	}
	&__title{
		font-size: fz_sm(24px);
		font-weight: normal;
		line-height: fz_sm(33.6px);
		margin-top: size_sm(8px);
	}
	&__speaker{
		font-family: $ff_mono;
		font-size: fz_sm(19px);
		color: $teal;
	}
	&__vocation{
		font-size: fz_sm(17px);
		line-height: fz_sm(26.6px);
	}

	&__image{
		img{
			max-width: none;
			width: 100%;
		}
	}
	@media ($is_landscape) {
		background: url(../img/bg_materials.svg) no-repeat;
		background-position: size_lg(855px) 0;
		background-size: size_lg(227px) auto;
		// &__player{
		// 	max-width: size_lg(496px);
		// 	margin-right: size_lg(94px - 62px);
		// }
		&__card{
			display: flex;
			justify-content: flex-start;//space-between;
			padding: size_lg((150px - 79px) / 2) 0;
			> *{
				flex: 0 0 50%;
				&:first-child{
					margin-right: size_lg(94px - 62px);
					max-width: size_lg(496px);
				}
				&:last-child{
					max-width: size_lg(370px);
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-bottom: size_lg(80px);
				}
			}
		}
		&__download{
			font-size: fz_lg(24px);
			line-height: fz_lg(40.8px);
			padding: size_lg(24px) 0 0;
			border: none;
		}
		&__icon img{
			width: size_lg(37px);
			height: size_lg(37px);
		}
		&__title,
		&__speaker{
			margin: 0 0 size_lg(16px);
		}
		&__title{
			font-size: fz_lg(36px);
			line-height: fz_lg(40.8px);
			margin-top: 0;//size_lg(24px);
		}
		&__speaker{
			font-size: fz_lg(24px);
		}
		&__vocation{
			font-size: fz_lg(19px);
			line-height: fz_lg(26.6px);
		}
	}
}

.publications{
	@media ($is_landscape) {
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: -25%;
			right: 0;
			display: block;
			width: size_lg(464px);
			height: size_lg(533px);
			background-image: url(../img/bg_publications.svg);
			background-position: center;
			background-size: 100% auto;
		}
	}
}

.menu{
	display: none;
	&__list{
		padding: 0;
		margin: 0;
		text-align: center;
		a,
		a:hover{
			text-decoration: none;
			color: white;
		}
	}
	&__item{
		display: block;
		margin-bottom: size_sm(17px);
	}
	&__toggle{
		position: fixed;
		right: size_sm(16px);
		top: size_sm(16px);
		width: size_sm(20px);
		height: size_sm(16px);
		margin-left: auto;
		padding: 0;
		border-radius: 0;
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		z-index: 901;
		box-sizing: border-box;
		span {
			position: absolute;
			top: 0;
			left: auto;
			right: 0;
			display: block;
			width: 100%;
			height: size_sm(1px);
			background-color: white;
			transition: all .3s ease-in-out;
			&:nth-child(2){
				// width: 90%;
				top: 50%;
				margin-top: size_sm(-.5px);
			}
			&:nth-child(3){
				// width: 80%;
				top: auto;
				bottom: 0;
			}
		}
	}
	&__open{
		overflow: hidden;
		.menu{
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			padding-top: size_sm(64px);
			padding-right: size_sm(16px);
			box-sizing: border-box;
			background-color: black;
			z-index: 100;
			&__item{
				text-align: right;
				font-size: fz_sm(32px);
			}
			a{
				transition: color .3s ease-in-out;
				&:hover{
					color: $yellow;
				}
			}
			&__toggle{
				transition-delay: .6s;
				transform: rotate(45deg);
				transition: all .3s ease-in-out;
				span{
					&:nth-child(1),
					&:nth-child(3){
						transition-delay: .3s;
					}
					&:nth-child(1){
						transform: translateY( size_sm(8px) );
					}
					&:nth-child(2){
						width: 0;
					}
					&:nth-child(3){
						transform: translateY( size_sm(-7px) ) rotate(90deg);
					}
				}
			}
		}
	}
	@media ($is_landscape) {
		&__toggle{
			position: fixed;//relative;
			margin: 0;
			flex: 0 0 auto;
			top: auto;
			right: size_lg(64px);//0;
			width: size_lg(28px);
			height: size_lg(21px);
			span {
				height: size_lg(1px);
				&:nth-child(2){
					margin-top: size_lg(-.5px);
				}
			}
		}
		&__open{
			.menu{
				padding-top: size_lg(180px);
				padding-right: size_lg(64px);
				&__item{
					font-size: fz_lg(64px);
					margin-bottom: size_lg(48px);
				}
				&__toggle{
					span{
						&:nth-child(1){
							transform: translateY( size_lg(13px) );
						}
						&:nth-child(3){
							transform: translateY( size_lg(-7px) ) rotate(90deg);
						}
					}
				}
			}
		}
	}
	@media ($is_landscape) and (min-aspect-ratio: 2 / 1) {
		&__open{
			.menu{
				&__item{
					margin-bottom: size_lg(18px);
				}
			}
		}
	}
}

.footer{
	background-color: $dark;
	a,
	a:hover{
		color: white;
		text-decoration: none;
	}
	&__logo{
		display: block;
		max-width: none;
		width: size_sm(86px);
		margin: 0 auto size_sm(907px - 874px);
	}
	&__contacts{
		font-size: fz_sm(17px);
		text-align: center;
		padding: size_sm(61px - 34px) 0;
		margin: size_sm(61px - 34px) 0;
		border: size_sm(1px) solid black;
		border-left: none;
		border-right: none;
		p{
			line-height: 250%;
			margin: 0;
		}
		a{
			font-family: $ff_mono;
			font-size: fz_sm(19px);
		}
	}
	&__facebook{
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		img{
			width: size_sm(40px);
			height: size_sm(40px);
			margin-right: size_sm(41px - 26px);
		}
	}
	&__url{
		font-family: $ff_mono;
		font-size: fz_sm(19px);
		color: $gray;
		text-align: center;
		margin: 0;
	}
	.menu__item{
		font-size: fz_sm(17px);
	}
	@media ($is_landscape) {
		padding: size_lg(44px) 0;
		&__row{
			display: flex;
			justify-content: space-between;
			align-items: center;
			> *{
				&:last-child{
					flex-grow: 1;
				}
			}
		}
		&__logo{
			width: size_lg(86px);
			margin: 0 size_lg(260px - 150px) 0 0;
		}
		.menu{
			&__list{
				text-align: left;
				display: flex;
				align-items: flex-start;
			}
			&__item{
				font-size: fz_lg(17px);
				margin-right: size_lg(32px);
				margin-bottom: 0;
			}
		}
		&__contacts{
			font-size: fz_lg(19px);
			text-align: left;
			padding: size_lg(61px - 34px) 0;
			margin: size_lg(38px) 0;
			border-width: size_lg(1px);
			p{
				&:last-child{
					display: flex;
				}
			}
			a{
				font-size: fz_lg(19px);
				display: inline-block;
				margin-right: size_lg(547px - 473px);
				&.footer__facebook{
					margin: 0;
				}
			}
			br{
				display: none;
			}
		}
		&__facebook{
			display: inline-flex !important;
			img{
				width: size_lg(40px);
				height: size_lg(40px);
				margin-right: size_lg(41px - 26px);
			}
		}
		&__url{
			font-size: fz_lg(17px);
			text-align: left;
		}
	}
}

// .video-js{
// 	iframe{
// 		z-index: 2;
// 	}
// }
.vjs-big-play-centered .vjs-big-play-button,
.vjs-big-play-centered .vjs-big-play-button:hover,
.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus{
	border-color: transparent;
	outline: none;
	background-color: transparent;
	transform-origin: center;
	transform: scale(1.5);
	transition: transform .3s ease-in-out;
}
.vjs-poster{
	&::before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $semidark;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
}
// .vjs-icon-play:before, 
// .video-js .vjs-play-control .vjs-icon-placeholder:before, 
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
	content: '';
	background: transparent url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 6.90192C18.5 8.05663 18.5 10.9434 16.5 12.0981L5.25 18.5933C3.25 19.748 0.75 18.3046 0.75 15.9952V3.00481C0.75 0.695406 3.25 -0.747968 5.25 0.406733L16.5 6.90192Z' fill='white'/%3E%3C/svg%3E") no-repeat center;
} 
.video-js:hover {
	.vjs-big-play-button{
		transform: scale(1.8);
	}
	.vjs-poster{
		&::before{
			opacity: 0.3;
		}
	}
}

.ff--mono{
	font-family: $ff_mono;
}
.color{
	&--yellow{
		color: $yellow;
	}
	&--teal{
		color: $teal;
	}
}